@font-face {
    font-family: 'Outfit';
    src: url('../assets/fonts/OutfitExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('../assets/fonts/OutfitLight1.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('../assets/fonts/OutfitRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('../assets/fonts/OutfitMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('../assets/fonts/OutfitSemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('../assets/fonts/OutfitBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('../assets/fonts/OutfitExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('../assets/fonts/OutfitBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}