@import './fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes highlight {
    0% {
        background-color: rgb(34 197 94 / 0.1);
    }
    50% {
        background-color: rgb(34 197 94 / 0.2);
    }
    100% {
        background-color: rgb(34 197 94 / 0.1);
    }
}

::selection {
    background-color: #0000002b;
    color: #fff;
}

.animate-highlight {
    animation: highlight 1s ease-in-out infinite;
}